html,

body{
      background-image: url("image.jpg");
      background-position: top left;
      background-repeat: repeat-y;
      background-size: auto;

}





       
/* .border {
    padding: 9px; 
    margin-top: 30px;
    margin-left: 8%;
    margin-right: 8%; 
    border: 4px solid blue;
    background: goldenrod;  
    
}
.bodure1{
    padding: 9px; /* Ajout d'un peu d'espace à l'intérieur de la bordure */
    /* margin-top: 30px;
    margin-left: 8%;
    margin-right: 8%; 
    border: 4px solid blue;
    background: goldenrod;
    color: blue; 
}

.bodure2{
    padding: 9px; /* Ajout d'un peu d'espace à l'intérieur de la bordure */
    /* margin-top: 30px;
    margin-left: 8%;
    margin-right: 8%; 
    border: 4px solid blue;
    background: goldenrod;
    color: blue;  
} */

/* .bodure3{
    padding: 9px; /* Ajout d'un peu d'espace à l'intérieur de la bordure 
    margin-top: 30px;
    margin-left: 8%;
    margin-right: 8%; 
    border: 4px solid blue;
    background: goldenrod;
    color: blue; 
}*/

