.text-primary {
    color: #74c69d!important;
}

body{
    margin: 0;
    padding: 0;
}

.hero{
    background-color: #74c69d;
}
.monheader{
    background-color: #74c69d;
    position: fixed;
}

footer {
	background-color: #74C69D;
	color: #fff;
	padding: 2px;
}

.foot{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.foot p{
    text-align: right;
}