html,
body{
  background-color: gray;
}

.Container{
  border: 5px solid gray;
  border-radius: 15px;
  padding: 5px;
  color: white;
  background-color: rgb(79, 79, 79);
  width: 90%;
  height: 60%;
  margin-left: 5%;
  margin-right:50px ;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 2px 2px 5px black;
    
}

.lesdeux{
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0px;
  padding: 0px;
 
}

.gauche{
  padding: 35px;
  border-radius: 15px 0px 0px 15px;
  width: 35%;
  height: 100%;
  font-size: x-large; 
  margin-right: -2%;
 
}

.droite{
  width: 100%;
  /* padding: 35px; */
 
}
.recherche input {
  background-color:rgb(103, 102, 102);
  border-radius: 4px;
  margin: 4%;
  width: 90%;
  height: 100%;
  padding: 2%;
  border-radius: 10px;
}

/* .recherche:hover {
  background-color: blue;
} */

/* .lesbox{
  
  width: 100%;
    height: 100%;

} */

.div1{
  display: flex;
  flex-direction: row;

}

.div2{
  display: flex;
  flex-direction: row;

}

.Enseignants{
  border: 2px solid gray;
  padding: 35px;
  border-radius: 15px  15px 15px 15px;
  background-color: gray;
  width: 30%;
  height: 100%;
  font-size: x-large;
  margin: 10px;
  cursor: pointer;
}
.Enseignants i{
  border: 2px solid gray;
  padding: 8px;
  border-radius: 35px;
  background-color: blue;
  float: left;

}

.Enseignants:hover{
  background-color: blue;
}

.Salles{
  border: 2px solid gray;
  padding: 20px;
  border-radius: 15px  15px 15px 15px;
  background-color: gray;
  width: 50%;
  font-size: x-large;
  margin: 10px;
  cursor: pointer;

}
.Salles i{
  border: 2px solid gray;
  padding: 8px;
  border-radius: 35px;
  background-color: green;
}

.Salles:hover{
  background-color: green;
}
.Classes{
  border: 2px solid gray;
  padding: 25px;
  border-radius: 15px  15px 15px 15px;
  background-color: gray;
  width: 40%;
  height: 100%;
  font-size: x-large;
  margin: 10px;
  cursor: pointer;

}

.Classes i{
  border: 2px solid gray;
  padding: 8px;
  border-radius: 35px;
  background-color: orange;

}
.Classes:hover{
  background-color: orange;
}

.Modules{
  border: 2px solid gray;
  padding: 26px;
  border-radius: 15px  15px 15px 15px;
  background-color: gray;
  width: 40%;
  height: 9%;
  font-size: x-large;
  margin: 9px;
  cursor: pointer;
  font-size: x-large;

}
.Modules i{
  border: 2px solid gray;
  padding: 8px;
  border-radius: 35px;
  background-color: red;
    
}

.Modules:hover{
  background-color: red;
}

.form-select{
  width: 95%;
  height: 100%;
  padding: 2%;
  border-radius: 10px;
  margin: 3%;
}

.head{
  border: 2px solid gray;
  padding: 5px;
  color: white;
  background-color: black;
  width: 99%;
  /* margin-top: -40px;
  margin-right:-40px; */

}

.head h1{
  font-size:70px;
  margin: 1%;
}

.recup{
 font-size: 40px;
}
.contenueHeure {
  display: flex;
  /* flex-direction: row; */
  color: white;
  width: 78%;
  float: right;
  justify-content: space-between;

} 
.contenueHeure p{
float: right;
}

.days {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(7, 12, 16);
 
}

  .lundi{
    border: 2px solid rgb(110, 108, 108);
    padding: 25px;
    border-radius: 30px  0px 0px 30px;
    background-color: black;
    width: 16%;
    height: 100%;
    font-size: x-large;
  }


  .mardi{
    border: 2px solid rgb(110, 108, 108);
    padding: 25px;
    border-radius: 30px  0px 0px 30px;
    background-color: black;
    width: 16%;
    height: 100%;
    font-size: x-large;
  }

  .mercredi{
    border: 2px solid rgb(110, 108, 108);
    padding: 25px;
    border-radius: 30px  0px 0px 30px;
    background-color: black;
    width: 16%;
    height: 100%;
    font-size: x-large;
  }

  .jeudi{
    border: 2px solid rgb(110, 108, 108);
    padding: 25px;
    border-radius: 30px  0px 0px 30px;
    background-color: black;
    width: 16%;
    height: 100%;
    font-size: x-large;
   
  }

  .vendredi{
    border: 2px solid rgb(110, 108, 108);
    padding: 25px;
    border-radius: 30px  0px 0px 30px;
    background-color: black;
    width: 16%;
    height: 100%;
    font-size: x-large;

  }

  .samedi{
    border: 2px solid rgb(110, 108, 108);
    padding: 25px;
    border-radius: 30px  0px 0px 30px;
    background-color: black;
    width: 16%;
    height: 100%;
    font-size: x-large;
    
  }

.l{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.box{
  background-color: #6d6868;
  width:80%;
  border: 2px solid black;
  border-radius: 0px  15px 15px 0px;
  float: right;
  padding: 25px;
  }

.m{
  width: 100%;
  display: flex;
  flex-direction: row;
  }

  .mer{
    width: 100%;
    display: flex;
    flex-direction: row;
  }

.j{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.v{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.s{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.newDiv{
  background-color: rgb(0, 4, 255);
  height: 11%;
  width: 7%;
  position: absolute;
  border-radius: 10px  10px 10px 10px;
  text-align: center;
 }

.fa-sharp {
  float: right;
  cursor: pointer;
}

#icon{
  background-color: transparent;
  float: right;
  position: relative;
}

.formulaire{
  display: flex;
  justify-content: space-between;
  display: none;
  position: absolute;
  background-color: rgb(48, 46, 46);
  opacity: 0.7;
  right: 15%;
  width: 47%;
  height: 500px;
  

}

.form-selecte {
  width: 40%;
  background-color: aqua;
  float: right;
}
.foot{
  float: right;
}
.heure input{
  float: right;
  width: 39%;
}

.Prof ,.Modules{
  margin-top: 10%;
  
}
label{
  font-size: x-large;
}

.formulaire h5{
  font-size: xx-large;
  color: white;
  border: 1px solid ;
  width: 100%;
  text-align: center;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  height: 100px;
  background-color: black;
  
}
.le_tout{
  padding-left: 100px;
  padding-right: 100px;
}

.ouv_ferm{
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
  border: 1px solid ;
  background-color: black;
  height: 100px;

}